@{
    ViewData["Title"] = "Privacy Policy";
    Context.Session.SetString("privacyString", "vrijednost Proivacy za string");

}
<h1>@ViewData["Title"]</h1>


<p></p>
<p>Use this page to detail your site's privacy policy.</p>

