@using DemoWebShop.Data
@inject ApplicationDbContext _dbContext
<div class="from-group">
    <label class="control-label">Select product category</label>
    <select class="form-control" name="categoryIds[]" multiple>
        @foreach(var catItem in _dbContext.Categories.ToList() )
            {
                <!option
                        value="@catItem.CategoryId"
                        @if(ViewBag.ProductCategories != null){
                                @(ViewBag.ProductCategories.Contains(catItem.CategoryId) ? "selected" : "")
                        }
                        >
                    @catItem.Title
                </!option> 
            }
    </select>
</div>
